*.class
*.log
*/target/
/project/target/
.idea
/project/project/target/
target
.bsp
.m2g_event_counter
bin
misc
ansible-params.yml
/.bloop
.DS_Store
/.metals
project/.bloop
project/project/.bloop
metals.*
.vscode/settings.json
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
build
*.dylib